$width_logo: var(--phys-width_logo, 190px);
$width_logo_mobile: var(--phys-width_logo_mobile, 140px);
$bg_header_color: var(--phys-bg_header_color, rgba(255, 255, 255, 1));
$bg_top_bar: var(--phys-bg_top_bar, rgba(65, 75, 79, 1));
$text_color_top_bar: var(--phys-text_color_top_bar, #cccccc);
$link_color_top_bar: var(--phys-link_color_top_bar, #ffffff);
$text_menu_color: var(--phys-text_menu_color, #333333);
$text_home_page: var(--phys-text_home_page, #ffffff);
$font_size_main_menu: var(--phys-font_size_main_menu, 14px);
$font_weight_main_menu: var(--phys-font_weight_main_menu, 600);
$bg_sticky_menu: var(--phys-bg_sticky_menu,);
$text_color_sticky_menu: var(--phys-text_color_sticky_menu,);
$sub_menu_bg_color: var(--phys-sub_menu_bg_color, #ffffff);
$sub_menu_text_color: var(--phys-sub_menu_text_color, #333333);
$sub_menu_text_hover_color: var(--phys-sub_menu_text_hover_color, #ffb300);
$mobile_menu_bg_color: var(--phys-mobile_menu_bg_color, #232323);
$mobile_menu_text_color: var(--phys-mobile_menu_text_color, #ffffff);
$mobile_text_hover_color: var(--phys-mobile_text_hover_color,);
$body_color_primary: var(--phys-body_color_primary, #ffb300);
$body_color_primary_rgb: var(--phys-body_color_primary_rgb);
$body_color_second: var(--phys-body_color_second, #26bdf7);
$body_color_second_rgb: var(--phys-body_color_second_rgb);
$font_size_h1: var(--phys-font_size_h1, 28px);
$font_weight_h1: var(--phys-font_weight_h1, normal);
$font_size_h2: var(--phys-font_size_h2, 24px);
$font_weight_h2: var(--phys-font_weight_h2, normal);
$font_size_h3: var(--phys-font_size_h3, 22px);
$font_weight_h3: var(--phys-font_weight_h3, normal);
$font_size_h4: var(--phys-font_size_h4, 20px);
$font_weight_h4: var(--phys-font_weight_h4, normal);
$font_size_h5: var(--phys-font_size_h5, 18px);
$font_weight_h5: var(--phys-font_weight_h5, normal);
$font_size_h6: var(--phys-font_size_h6, 16px);
$font_weight_h6: var(--phys-font_weight_h6, normal);
$font_size_h1_mobile: var(--phys-font_size_h1_mobile, 32px);
$font_size_h2_mobile: var(--phys-font_size_h2_mobile, 26px);
$font_size_h3_mobile: var(--phys-font_size_h3_mobile, 20px);
$font_size_h4_mobile: var(--phys-font_size_h4_mobile, 18px);
$font_size_h5_mobile: var(--phys-font_size_h5_mobile, 16px);
$font_size_h6_mobile: var(--phys-font_size_h6_mobile, 16px);

$bg_footer: var(--phys-bg_footer, #414b4f);
$text_color_footer: var(--phys-text_color_footer, #cccccc);
$text_font_size_footer: var(--phys-text_font_size_footer, 13px);
$border_color_footer: var(--phys-border_color_footer, #5b6366);
$title_color_footer: var(--phys-title_color_footer, #ffffff);
$title_font_size_footer: var(--phys-title_font_size_footer, 18px);
$bg_newsletter_color: var(--phys-bg_newsletter_color, rgba(0, 0, 0, 0.5));
$body_color: var(--phys-body_color);
$body-font-family: var(--phys-body-font-family);
$font_weight_body: var(--phys-font_weight_body);
$body_font_size: var(--phys-body_font_size);
$body_line_height: var(--phys-body_line_height);
$heading-font-family: var(--phys-heading-font-family);
$heading-color: var(--phys-heading-color);
$heading-font-weight: var(--phys-heading-font-weight);
$phys-border-color: var(--phys-border-color, #cccccc);
$phys-border-color-hover: var(--phys-border-color, #ffb300);
$phys-border-radius: var(--phys-border-radius, 0);
$phys-background-button: var(--phys-background-button, #414b4f);
$phys-button-hover-color: var(--phys-button-hover-color, #26bdf7);
$phys-button-text-color: var(--phys-button-text-color, #fff);
$phys-button-text-color-hover: var(--phys-button-text-color-hover, #fff);

$phys_font_button_font_size: var(--phys_font_button-font-size, 16px);
$phys_font_button_variant: var(--phys_font_button-variant, 600);
$phys_font_button_line_height: var(--phys_font_button-line-height, 1.3);
$phys_font_button_text_transform: var(--phys_font_button-text-transform, capitalize);

$phys_border_radius_item: var(--phys_border_radius-item, 8px);
$phys_border_radius_item_big: var(--phys_border_radius-item-big, 16px);
$phys_border_radius_button: var(--phys_border_radius-button, 200px);
$phys_bg_cart_page: var(--phys-bg-order-cart, #f2f4f4);
$phys_bg_input: var(--phys-bg-input, #f2f4f4);
